@media (min-width: 56.25em) {
  body {
    max-width: 90rem;
    font-size: 2rem;
  }

  .login__input {
    display: flex;
    align-items: center;
  }

  .budget__container,
  .finance__info {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }
}

@media (min-width: 75em) {
  body {
    max-width: 120rem;
  }

  .login__input {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
