:root {
  --color-primary: #ebf4f5;
  --color-secondary: #000;
  --color-tertiary: #fff;
}

body {
  font-family: cursive;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: var(--color-primary);
  color: var(--color-secondary);

  max-width: 60rem;
}

html {
  font-size: 62.5%;
}

.container {
  opacity: 0;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  border: none;

  background-color: var(--color-tertiary);
  color: var(--color-secondary);
  transition: all 0.3s;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  transform: scale(1);
}

.login {
  padding-bottom: 1rem;
  padding-right: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.heading {
  font-weight: 700;
}

input {
  padding: 1rem;
  font-family: inherit;
  border: none;
}

input:focus {
  outline: none;
}

.reveal-item {
  display: block;
}
